<div id="<%= dom_id fiscal_period %>">

  <p class="my-5">
    <strong class="block font-medium mb-1">Név</strong>
    <%= fiscal_period.name || '-' %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kezdési idő</strong>
    <%= fiscal_period.start_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Befejezési idő</strong>
    <%= fiscal_period.end_at %>
  </p>

  <% if action_name != "show" %>
    <%= authorized_link_to "Részletek", fiscal_period_path(fiscal_period), class: "btn-outline" %>
    <%= authorized_link_to 'Szerkesztés', edit_fiscal_period_path(fiscal_period), class: "btn-outline" %>
    <hr class="mt-6">
  <% end %>
</div>
