<%= form_with(model: fiscal_period, class: "contents") do |form| %>
  <% if fiscal_period.errors.any? %>
    <div id="error_explanation" class="error-explanation">
      <h2><%= pluralize(fiscal_period.errors.count, "error") %> prohibited this fiscal_period from being saved:</h2>

      <ul>
        <% fiscal_period.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= form.label :start_at %>
    <%= form.datetime_field :start_at, class: "datetime-field" %>
  </div>

  <div class="row">
    <%= form.label :end_at %>
    <%= form.datetime_field :end_at, class: "datetime-field" %>
  </div>

  <div class="inline">
    <%= form.submit 'Mentés', class: "btn" %>
  </div>
<% end %>
