<div class="max-w-xl m-auto">
  <div class="mb-4 flex justify-end">
    <% export_params = params.permit(:fiscal_period_id, :start_at, :end_at).merge({format: :csv})%>
    <%= authorized_link_to 'Export', for_users_statistics_path(export_params), class: 'btn' %>
  </div>
  <%= form_with url: statistics_users_path, method: :get,
                class: 'rounded-md bg-secondary py-4 px-4 mb-4 flex flex-col justify-between text-black gap-4 flex-wrap',
                html: { 'data-controller': 'stat' },
                data: { turbo: false } do |form| %>
    <%= form.label 'Költési időszak', class: 'text-white' %>
    <%= form.select :fiscal_period_id, @fiscal_periods.map { |fiscal_period|
      ["#{fiscal_period.name} #{fiscal_period.start_at&.year} - #{fiscal_period.end_at&.year}", fiscal_period.id] },
                    { selected: @fiscal_period.id, prompt: '-- Válassz időszakot--' },
                    { class: 'grow select mt-0',
                      'data-stat-target': 'select',
                      'data-action': 'stat#change' } %>

    <div class="flex flex-col text-white hidden" data-stat-target="dateForm">
      <div class="row">
        <%= form.label 'Kezdési idő' %>
        <%= form.date_field :start_at, value: @fiscal_period.end_at.try(:strftime, '%Y-%m-%d'),
                            class: "datetime-field",
                            'data-stat-target': 'startDate' %>
      </div>
      <div class="row">
        <%= form.label 'Befejezési idő' %>
        <%= form.date_field :end_at, value: @fiscal_period.end_at.try(:strftime, '%Y-%m-%d'),
                            class: "datetime-field ",
                            'data-stat-target': 'endDate' %>
      </div>
    </div>

    <%= form.submit "Keresés", class: 'btn' %>
  <% end %>


  <div class="rounded-md bg-secondary py-2 px-4 mb-4 flex justify-between">
    <span class="text-2xl break-all">Felhasználói statisztikák:</span>
  </div>
  <% @users.each do |user, items| %>
    <%= authorized_link_to statistics_for_user_path(user.id, @fiscal_period.id) do %>
      <div class="rounded-md bg-secondary py-2 px-4 mb-4 btn btn-outline flex flex-col w-full items-start">
        <div class="text-2xl break-all"><%= user.name %></div>
        <% items.each do |item, quantity| %>
          <div class="flex justify-between w-full">
            <span><%= item.name %></span>
            <span><%= quantity %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>