<div class="mx-auto w-full flex">
  <div class="mx-auto">
    <%= render @group %>

    <%= authorized_link_to 'Edit this group', edit_group_path(@group), class: "btn inline-block" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this group', group_path(@group), method: :delete, class: "btn" %>
    </div>
    <%= authorized_link_to 'Back to groups', groups_path, class: "btn" %>

    <%= render @orders%>
  </div>
</div>
