<%= form_with(model: user, method: :patch , data: {turbo: false}, builder: CustomFormBuilder, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="error-explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= form.label :name %>
    <%= form.text_field :name, class: "text-area" %>
  </div>

  <div class="row">
    <%= form.label :email %>
    <%= form.text_field :email, class: "text-area" %>
  </div>

  <div class="row flex flex-col ">
    <%= form.label :admin, class: 'mb-2' %>
    <%= form.switch_checkbox :admin %>
  </div>

  <div class="row flex flex-col ">
    <%= form.label :member, class: 'mb-2' %>
    <%= form.switch_checkbox :member %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn" %>
  </div>
<% end %>
