<div id="<%= dom_id user %>" class="flex items-center content-space justify-between border-white border-b-2">
  <div>
    <p class="my-5">
      <strong class="block font-medium mb-1"><%= t('activerecord.attributes.user.name') %>:</strong>
      <%= user.name %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Admin:</strong>
      <%= user.admin ? 'Igen' : 'Nem' %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Tag:</strong>
      <%= user.member ? 'Igen' : 'Nem' %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1"><%= t('activerecord.attributes.user.email') %>:</strong>
      <%= user.email %>
    </p>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Részletek", user, class: "btn" %>
  <% end %>
</div>
