<div class="max-w-xl m-auto">
  <h1 class="text-4xl font-bold mb-8">KultúrWC</h1>
  <p>
    Ha unod már a samponos flakon olvasgatását, és a telefonodon lévő összes játékot is kijátszottad, akkor a KultúrWC
    segít, hogy minőségi perceket tölts ott, ahová a király is gyalog jár.
  </p>
  <%= form_with(model: @user, url: update_current_kwcs_path, class: "contents",
                data: { turbo: false }, builder: CustomFormBuilder) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="error-explanation">
        <h2>Az alábbi hiba lépett fel:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <%= form.label 'Schönherz Szobaszám:' %>
      <%= form.number_field :room_number, class: "number-field" %>
    </div>
    <div class="row">
      <%= form.label 'Szeretnél KWC-t kapni?', class: 'block mb-2' %>
      <%= form.switch_checkbox :kwc %>
    </div>
    <%= form.submit 'KWC Adatok Mentése', class: 'btn w-full' %>
  <% end %>
</div>