<%= form_with(model: order, class: "contents", builder: CustomFormBuilder) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2>A rendelés hibás</h2>

      <ul class="list-disc ml-5">
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :group %>
    <%= form.select :group_id, Group.all.map { |group| [group.name, group.id] }, { prompt: "-- Válaszd ki a köröd! --" }, class: "text-bg-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :link %>
    <%= form.text_field :link, class: "text-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :print_quantity %>
    <%= form.number_field :print_quantity, class: "text-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :paper_size %>
    <%= form.select :paper_size, Order.paper_sizes.map { |k, v| [k.upcase, v] }, { prompt: "-- Válassz papírméretet! --" }, class: "text-bg-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :comment %>
    <%= form.text_area :comment, rows: 4, class: "text-bg-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label 'Matricapapírra legyen nyomtatva?', class: 'block mb-2' %>
    <%= form.switch_checkbox :sticker %>
  </div>

  <div class="my-5">
    <%= form.label 'Lelamináljuk a rendelésed?', class: 'block mb-2' %>
    <%= form.switch_checkbox :laminated %>
  </div>

  <div class="my-5">
    <%= form.label 'Én szeretném nyomtatni', class: 'block mb-2' %>
    <%= form.switch_checkbox :printed_by_me %>
  </div>

  <div class="my-5">
    <%= form.label :has_sch_logo, 'Az igénylésen rajta van a Schönherz logó' %>
    <%= form.check_box :has_sch_logo, class: "checkbox" %>
  </div>

  <div class="my-5">
    <%= form.label :has_right_format, 'Az igénylésem png/jpg formátumú' %>
    <%= form.check_box :has_right_format, class: "checkbox" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn w-full mt-4" %>
  </div>
<% end %>
