<%= form_with(model: order, class: "contents") do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :group %>
    <%= form.select :group_id, Group.all.map{|group| [group.name, group.id]}, {}, class: "text-bg-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :link %>
    <%= form.text_field :link, class: "text-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :print_quantity %>
    <%= form.number_field :print_quantity, class: "text-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :paper_size %>
    <%= form.select :paper_size, Order.paper_sizes.map{|k,v| [k.upcase, v]}, {}, class: "text-bg-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :comment %>
    <%= form.text_area :comment, rows: 4, class: "text-bg-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :sticker %>
    <%= form.check_box :sticker, class: "checkbox" %>
  </div>

  <div class="my-5">
    <%= form.label :laminated %>
    <%= form.check_box :laminated, class: "checkbox" %>
  </div>

  <div class="my-5">
    <%= form.label :printed_by_me %>
    <%= form.check_box :printed_by_me, class: "checkbox" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn w-full mt-4" %>
  </div>
<% end %>
