<% if order.errors.any? %>
  <div id="error_explanation" class="error-explanation">
    <h2>A rendelés hibás</h2>

    <ul class="list-disc ml-5">
      <% order.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= turbo_frame_tag 'order_items_frame' do %>
  <%= render 'order_items/order_items_with_form', order: order, order_item: nil %>
<% end %>

<% url = action_name == 'new' ? finalize_order_path(order) : order_path(order) %>
  <%= form_with(model: order, class: "contents", url: url,
                data: { turbo: false }, builder: CustomFormBuilder) do |form| %>

  <div class="row">
    <%= form.label :group %>
    <%= form.select :group_id, Group.all.map { |group| [group.name, group.id] },
                    { prompt: "-- Válaszd ki a köröd! --" }, class: "select" %>
  </div>

  <div class="row">
    <%= form.label "Egyéb megjegyzés a rendelésre vonatkozóan" %>
    <%= form.text_area :comment, rows: 4, class: "text-area" %>
  </div>


  <div class="row">
    <%= form.label 'Én szeretném nyomtatni', class: 'label block mb-2' %>
    <%= form.switch_checkbox :printed_by_me %>
  </div>

  <div>
    <div class="row-with-checkbox">
      <div>
        <p>Elolvastam a
          <a class="link" href="https://kbpr.sch.bme.hu/documents/plakatolasi_szabalyzat_2022.pdf">plakátolási
            szabályzatot</a></p>
        <p class="text-xs">Tényleg ne pipáld ki annélkül, hogy elolvasnád</p>
      </div>
      <%= form.check_box :accepted_terms_of_service, class: "checkbox" %>
    </div>

    <div class="row-with-checkbox">
      <%= form.label :has_sch_logo, class: 'label' %>
      <%= form.check_box :has_sch_logo, class: "checkbox" %>
    </div>

    <div class="row-with-checkbox">
      <%= form.label :has_right_format, class: 'label' %>
      <%= form.check_box :has_right_format, class: "checkbox" %>
    </div>

    <div class="row-with-checkbox ">
      <%= form.label :has_date, class: 'label' %>
      <%= form.check_box :has_date, class: "checkbox" %>
    </div>

    <div class="mt-8">
      <%= form.submit 'Rendelés leadása', class: "btn w-full" %>
    </div>
  </div>
<% end %>
