<div class="mx-auto md:w-2/3 w-full pb-5">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @order %>

    <div class="flex gap-4">
      <%= link_to 'Szerkesztés', edit_order_path(@order), class: "btn" %>
      <%= link_to 'Vissza a rendelésekhez', orders_path, class: "btn-outline" %>
      <%= button_to 'Törlés', order_path(@order), method: :delete, class: "btn-red", form_class: 'inline ml-auto' %>
    </div>
  </div>
</div>
