<h1 class="font-bold text-4xl mb-4">Admin panel</h1>
<p> Üdvözlünk az adminisztrátori oldalon!</p>
<h2 class="font-bold text-3xl mb-8 mt-8">Admin lehetőségek</h2>

<div class="grid md:grid-cols-4	gap-4 pb-8">
  <%= authorized_link_to 'Hírek kezelése', articles_path, class: 'btn text-center' %>
  <%= authorized_link_to 'Felhasználók kezelése', users_path, class: 'btn text-center' %>
  <%= authorized_link_to 'Termékek kezelése', items_path, class: 'btn text-center' %>
  <%= authorized_link_to 'KWC redelések', kwcs_path, class: 'btn text-center' %>
  <%= authorized_link_to 'Körös statisztikák', for_groups_statistics_path, class: 'btn text-center' %>
  <%= authorized_link_to 'Felhasználói stat.', statistics_users_path, class: 'btn text-center' %>
  <%= authorized_link_to 'Költési időszakok', fiscal_periods_path, class: 'btn text-center' %>
  <%= authorized_link_to 'Főoldali Funky szöveg', funky_texts_path, class: 'btn text-center' %>
  <%= authorized_link_to 'Körök', groups_path, class: 'btn text-center' %>
</div>

