<div class="mx-auto max-w-xl">
  <div class="flex flex-col gap-4 w-full items-end">
    <% if @user == current_user %>
      <%= button_to 'Kilépés', destroy_user_session_path, method: :delete, class: "btn-outline" %>
    <% end %>
  </div>
  <div id="<%= dom_id @user %>" class="mx-auto mt-4">
    <div class="rounded-md bg-secondary p-4">
      <p class="row oneline">
        <strong class="block font-medium mb-1"><%= t('activerecord.attributes.user.name') %>:</strong>
        <%= @user.name %>
      </p>

      <% if @user.admin? %>
        <p class="row oneline">
          <strong class="block font-medium mb-1">Admin:</strong>
          Igen
        </p>
      <% end %>

      <% if @user.member? %>
        <p class="row oneline">
          <strong class="block font-medium mb-1">Tag:</strong>
          Igen
        </p>
      <% end %>

      <p class="row oneline">
        <strong class="block font-medium mb-1"><%= t('activerecord.attributes.user.email') %>:</strong>
        <%= @user.email %>
      </p>
    </div>
  </div>
</div>




