<%= turbo_frame_tag "order_item_frame_#{order_item.id}" do %>
  <% form_with model: order_item, builder: CustomFormBuilder, multipart: true do |form| %>
    <div class="mt-6 bg-secondary p-4 rounded-md">
      <% if order_item.errors.any? %>
        <div id="error_explanation" class="error-explanation">
          <h2>A rendelés hibás</h2>

          <ul class="list-disc ml-5">
            <% order_item.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= turbo_frame_tag "order_item_edit_form_order_image_input" do %>
        <div class="flex flex-wrap gap-4 items-center">
          <%= image_tag order_item.order_image.variant(:thumb) %>
          <div class="flex gap-4">
            <%= link_to "Másik kép", order_image_input_order_items_path, class: "btn" %>
            <%= link_to "Letöltés", rails_blob_path(order_item.order_image, disposition: 'attachment'), class: "btn" %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <%= form.label :quantity %>
        <%= form.number_field :quantity, class: "number-field" %>
      </div>

      <div class="row">
        <%= form.label :item %>
        <%= form.select :item_id, Item.all.map { |item| [item.name, item.id] },
                        { prompt: "-- Válasszd ki, hogy mitnyomtatnál! --" },
                        class: "select" %>
      </div>

      <% if current_user.admin? && @order_item.item_id==1 %>
        <div class="row">
          <%= form.label :price %>
          <%= form.number_field :price, class: "number-field" %>
        </div>
      <% end %>

      <div class="row">
        <%= form.label 'Lelamináljuk a rendelésed?', class: 'block mb-2' %>
        <%= form.switch_checkbox :laminated, dark: true %>
      </div>

      <div class="flex gap-4">
        <%= link_to 'Mégsem', order_items_path(order_id: order_item.order.id), class: 'btn btn-outline grow' %>
        <%= form.submit 'Mentés', class: "btn grow" %>
      </div>
    </div>
  <% end %>
<% end %>