<% if [:new,:create].include?(action_name.to_sym)
     url = order_items_path(order_id: order_item.order)
   else
     url = order_items_path(order_item)
   end %>
<div class="border-8 p-4 mt-6 pad border-primary rounded-md">
  <h2 class="text-2xl">Termék hozzáadás</h2>
  <%= form_with(model: order_item, url: url, class: "contents", builder: CustomFormBuilder) do |form| %>
    <% if order_item.errors.any? %>
      <div id="error_explanation" class="error-explanation">
        <h2>A rendelés hibás</h2>

        <ul class="list-disc ml-5">
          <% order_item.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="row">
      <%= form.label :link %>
      <%= form.text_field :link, class: "text-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="row">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, class: "text-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="row">
      <%= form.label :item_id, 'Termék' %>
      <%= form.select :item_id, Item.all.map { |item| [item.name_with_price, item.id] },
                      { prompt: "-- Válasszd ki, hogy mitnyomtatnál! --" },
                      class: "text-bg-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",
                      id: "selector", :onChange=>"javascript: commentVisibility();" %>
    </div>

    <div class="row" id="commentfield">
      <%= form.label :comment %>
      <%= form.text_field :comment, class: "text-dark block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="row">
      <%= form.label 'Lelamináljuk a rendelésed?', class: 'block mb-2' %>
      <%= form.switch_checkbox :laminated %>
    </div>

    <div class="flex gap-4">
      <%= link_to 'Mégsem', order_items_path(order_id: order_item.order.id), class: 'btn btn-outline grow' %>
      <%= form.submit 'Hozzáad', class: "btn grow" %>
    </div>
  <% end %>
</div>

<script>
  function commentVisibility(){
      const selector = document.getElementById("selector");
      const commentfield = document.getElementById("commentfield");
      console.log(selector.value);
      if(selector.value==1){
        commentfield.style.display = "block";
      }else{
        commentfield.style.display = "none";
      }
  }

  commentVisibility();
</script>
