<%= turbo_frame_tag "order_item_frame_#{order_item.id}", target: '#order_items_frame' do %>
  <div class="mt-6 bg-secondary p-4 rounded-md">
    <div class="text-2xl mb-4">
      <%= order_item.item.name %>
    </div>
    <div class="order_item_row">
      <%= label_tag :link, t('activerecord.attributes.order_item.link') %>
      <%= order_item.link %>
    </div>
    <div class="order_item_row">
      <%= label_tag t('activerecord.attributes.order_item.quantity') %>
      <%= order_item.quantity %>
    </div>
    <div class="order_item_row">
      <%= label_tag 'Egységár' %>
      <%= order_item.price %> JMF
    </div>
    <div class="order_item_row">
      <%= label_tag 'Összesen' %>
      <%= order_item.price * order_item.quantity %> JMF
    </div>
    <div class="order_item_row">
      <%= label_tag t('activerecord.attributes.order_item.laminated') %>
      <%= check_box_tag :laminated, 1, order_item.laminated, class: "checkbox", disabled: true %>
    </div>
    <div class="order_item_row justify-end mt-4">

      <%= button_to 'Törlés', order_item_path(order_item), method: :delete, class: 'btn btn-outline' %>
      <%= link_to 'Szerkesztés', edit_order_item_path(order_item), class: 'btn' %>
    </div>
  </div>
<% end %>