<!DOCTYPE html>
<html>
<head>
  <title>KbprWeb</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<div class="max-w-5xl mx-auto">
  <nav class="flex justify-end gap-x-8 p-4">
    <%= image_tag "kbpr-logo.svg", class: 'mr-auto' %>
    <%= link_to "Rendelés leadás", root_path, class: 'nav-item' %>
    <%= link_to "KWC", root_path, class: 'nav-item' %>
    <%= link_to "Kalkulátor", root_path, class: 'nav-item' %>
    <%= link_to "Rólunk", root_path, class: 'nav-item' %>
    <%= link_to "Admin panel", root_path, class: 'nav-item' %>
    <%= image_tag "nav-icon.svg", class: 'md:hidden p-4' %>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <main class="mt-28 px-5 flex">
    <%= yield %>
  </main>
</div>
</body>
</html>
