<!DOCTYPE html>
<html>
<head>
  <title>KbprWeb</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<div id="page-container" class="relative min-h-screen">
  <div id="content-wrap" class="pb-48 pt-4">
    <div data-controller="navbar" class="max-w-7xl mx-auto">
      <nav class="flex justify-end gap-x-8 p-4 fixed top-0 w-full max-w-7xl bg-bg-dark z-10">
        <%= link_to root_path, class: 'mr-auto' do %>
          <%= image_tag "kbpr-logo.svg" %>
        <% end %>
        <%= link_to "Rendelés leadás", new_order_path, class: 'nav-item' %>
        <%= link_to "KWC", root_path, class: 'nav-item' %>
        <%= link_to "Kalkulátor", root_path, class: 'nav-item' %>
        <%= link_to "Rólunk", root_path, class: 'nav-item' %>
        <%= link_to "Admin panel", admin_pages_path, class: 'nav-item' if current_user&.admin? %>
        <% if current_user.present? %>
          <%= link_to 'Profil', profile_pages_path, class: 'nav-item' %>
        <% else %>
          <%= button_to "Belépés", user_authsch_omniauth_authorize_path, data: { turbo: false }, class: 'nav-item' %>
        <% end %>
        <div data-action="click->navbar#open">
          <%= image_tag "nav-icon.svg", class: 'md:hidden p-4' %>
        </div>
      </nav>
      <div data-navbar-target="mobileNavPanel"
           class="fixed top-0 bottom-0 left-0 right-0 bg-bg-dark p-8 hidden z-10">
        <div class="flex flex-col items-center gap-4">
          <div class="flex w-full justify-between items-center">
            <%= image_tag "kbpr-logo.svg", class: '' %>
            <div data-action="click->navbar#close">
              <%= image_tag "nav-close-icon.svg", class: '' %>
            </div>
          </div>
          <%= link_to "Rendelés leadás", new_order_path, class: 'mobile-nav-item' %>
          <%= link_to "KWC", root_path, class: 'mobile-nav-item' %>
          <%= link_to "Kalkulátor", root_path, class: 'mobile-nav-item' %>
          <%= link_to "Rólunk", root_path, class: 'mobile-nav-item' %>
          <%= link_to "Admin panel", admin_pages_path, class: 'mobile-nav-item' if current_user&.admin? %>
          <% if current_user.present? %>
            <%= link_to 'Profil', profile_pages_path, class: 'mobile-nav-item' %>
          <% else %>
            <%= button_to "Belépés", user_authsch_omniauth_authorize_path, data: { turbo: false }, class: 'mobile-nav-item', form_class: 'w-full' %>
          <% end %>
        </div>
      </div>


      <main class="mt-28 px-5">
        <% if notice.present? %>
          <div class="notification-bar" data-controller="notification" data-notification-target="notificationBar" data-action="click->notification#close">
            <p> <%= notice %></p>
            <%= image_tag 'nav-close-icon.svg' %>
          </div>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </div>
  <footer class="bg-secondary absolute w-full bottom-0 h-48">
    <div class="flex flex-col items-center max-w-7xl mx-auto mt-2">
      <div>
        <h2 class="text-center text-2xl font-bold">KBPR Csoport</h2>
        <h3 class="text-center text-xl">kbpr.sch.bme.hu</h3>
      </div>
      <div class="flex items-center justify-around w-full">
        <a href="https://kir-dev.hu/">
          <%= image_tag 'kir-dev-logo.svg', class: 'footer-image' %>
        </a>
        <a href="https://schdesign.hu/">
          <%= image_tag 'schdesign-logo.svg', class: 'footer-image' %>
        </a>
        <a href="https://sch.bme.hu/">
          <%= image_tag 'schonherz-logo.svg', class: 'footer-image' %>
        </a>
        <a href="/">
          <%= image_tag 'kbpr-logo.svg', class: 'footer-image' %>
        </a>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
